<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="title">
        <h1>Easy</h1>
    </div>
    <app-multiples></app-multiples><br><br><br>
    <app-leap-year></app-leap-year><br><br><br>
    <app-right-triangle></app-right-triangle><br><br><br>
    <app-left-triangle></app-left-triangle><br><br><br>
    <app-none-base-pyramid></app-none-base-pyramid><br><br><br>
    <app-between-else-finally></app-between-else-finally>
    <div class="title">
        <h1>Medium</h1>
    </div>
    <app-prime-number></app-prime-number>
</body>

</html>


<!-- <app-action-bar [step]="10"></app-action-bar><br>
<app-action-bar (numberChange)="testNumberChange($event)"></app-action-bar><br>
<button type="button" (click)="testClick()">Test Event Binding</button><br><br><br> -->
<!-- <app-max-min-meter 
[minLabel]="appMinLabel" 
[maxLabel]="appMaxLabel"

(minChange)="doAppMinChange($event)"
(maxChange)="doAppMaxChange($event)"
></app-max-min-meter>

<router-outlet></router-outlet> -->

<!-- <app-calculate-button (numberChange)="testNumberChange($event)" [num]="100"></app-calculate-button> -->