<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-prime-number</title>
</head>

<body>
    <div class="article">
        <h1>Article 1</h1>
        <p>Write a program that finds all prime numbers up to n for input n.</p>
        <p>Example Output: 20 -> 2 3 5 7 11 13 17 19</p>
    </div>
    <div class="container">
        <h2>Prime Number</h2>
        <button type="button" (click)="PrimNumber(100)">Console log</button>
    </div>
</body>

</html>