<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-between-else-finally</title>
</head>

<body>
    <div class="article">
        <h1>Article 4</h1>
        <p>(Python specific) In Python, what is the difference between else and finally in exception handling?</p>
    </div>
    <div class="container">
        <h2>Between Else and Finally</h2>
        <p>{{ Else }}</p>
        <p>{{ finally }}</p>
    </div>
</body>

</html>