<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app-leap-year</title>
</head>

<body>
    <div class="article">
        <h1>Article 2</h1>
        <p class="p1">Write a program that determine whether or not an integer input is a leap year.</p>
        <p>Definition of leap year: <br>
            Rule 1: A year is called leap year if it is divisible by 400.
            <br>
            Example: 1600, 2000 etc. are leap year while 1500, 1700 are not leap year.
            <br>
            Rule 2: If year is not divisible by 400 as well as 100 but it is divisible by 4 then that year are also leap
            year.
            <br>
            Example: 2004, 2008, 1012 are leap year.
        </p>
    </div>

    <div class="container">
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value1 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value1)">Window Alert</button>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value2 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value2)">Window Alert</button>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value3 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value3)">Window Alert</button>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value4 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value4)">Window Alert</button>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value5 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value5)">Window Alert</button>
            </div>
        </div>
        <div class="content">
            <div class="content-title">
                <h2>Leap Year {{ value6 }}</h2>
            </div>
            <div class="content-button">
                <button type="button" (click)="LeapYear(value6)">Window Alert</button>
            </div>
        </div>
    </div>
</body>

</html>