body {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    width: 830px;
}

.content{
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-bottom: .5rem;
}

.article {
    display: block;
    width: 400px;
}

.p1 {
    padding-bottom: 1rem;
}